.sidebar {
  box-sizing: border-box;
  position: relative;
  color: #fff;
  max-height: calc(100vh - 4rem);
}
.sidebar-content {
  position: fixed;
  width: inherit;
}
.sidebar .user {
  font-weight: bold;
  text-align: center;
  letter-spacing: 1px;
  padding: 40px 30px;
}
.sidebar .links li {
  margin-top: 10px;
}
.sidebar .links a {
  display: flex;
  padding: 10px;
  text-decoration: none;
  width: 100%;
  box-sizing: border-box;
}
.sidebar .links a.active {
  border-radius: 20px 0 0 20px;
}
